header
{
   background-color: #023675; 
   color: #ffffff;    
}

.p1
{
   background-color: #EAEAEA; 
   color: #000000;   
    
}
.maina{
    
}

.p2
{
   background-color: #DF0005; 
   color: #ffffff;  
}

.p3
{
   background-color: teal; 
   color: #000000;   
    
}
footer
{
   background-color: #009B4E; 
   color: #000000;  
}